:where(html) {
  --global-px-grid: 8px;
  --space-0: 0;
  --space-xxs: calc(var(--global-px-grid) / 4);
  --space-xs: calc(var(--global-px-grid) / 2);
  --space-sm: var(--global-px-grid);
  --space-md: calc(var(--global-px-grid) * 2);
  --space-lg: calc(var(--global-px-grid) * 3);
  --space-xl: calc(var(--global-px-grid) * 4);
}
