:where(html) {
  --z-important: 2147483647;
  --z-modal: 2000;
  --z-action-panel: 1900;
  --z-overlay: 1800;
  --z-alert: 1750;
  --z-dropdown: 1700;
  --z-tooltip: 1650;
  --z-header: 1600;
  --z-sidenav: 1600;
  --z-footer: 1500;
}
